<h1>You are viewing the game called <%= @game.slug %></h1>
<h2>Slug: <%= @game.slug %></h2>
<h2>Players: <%= @game.players.count%></h2>
<h2>Cups: <% @game.cups.each do |cup| %> <%=cup.kind%> <% end %></h2>
